workflows/xAhsrKATxqg7CHav.json
{
  "active": false,
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "Get all files in given path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split the result": {
      "main": [
        [
          {
            "node": "Get file content from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert files to JSON": {
      "main": [
        [
          {
            "node": "Restore n8n Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all files in given path": {
      "main": [
        [
          {
            "node": "Split the result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file content from GitHub": {
      "main": [
        [
          {
            "node": "Convert files to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-11T17:55:24.928Z",
  "id": "xAhsrKATxqg7CHav",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Restore workflows from GitHub",
  "nodes": [
    {
      "parameters": {},
      "id": "dfd13652-69b8-4e71-9fb4-392043e751a9",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        280,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "dditullio"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "n8n-backups"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "workflows"
            }
          ]
        },
        "options": {}
      },
      "id": "b0a68e48-4478-4cba-b4ef-fe3972416b66",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        480,
        120
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Restore from GitHub \nThis workflow will restore all instance workflows from GitHub backups.\n\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n",
        "height": 420,
        "width": 320
      },
      "id": "9fa588b5-49bf-4d76-8944-dc2f9778902f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Edit this node 👇",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "0b877fe7-ccb4-43f6-a3f9-c31cef8437d5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        420,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "e37c38e4-4c99-435a-aef8-ec9669014f21",
      "name": "Get all files in given path",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        440
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubApi": {
          "id": "itpt1tyYApiIYSie",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "path",
        "options": {}
      },
      "id": "6d0464d9-1d43-4833-8dba-95636d5d8632",
      "name": "Split the result",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        560,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "BeyondspaceStudio"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "n8n-backup"
        },
        "filePath": "={{ $('Get all files in given path').item.json.path }}",
        "additionalParameters": {}
      },
      "id": "d8b8d7d7-3e0b-4cb4-b9d1-a0a8764ca3da",
      "name": "Get file content from GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        780,
        440
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "itpt1tyYApiIYSie",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "960c5e39-5df1-4cc4-b9d7-decc97d75832",
      "name": "Convert files to JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1000,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ JSON.stringify($json.data) }}",
        "requestOptions": {}
      },
      "id": "ea83d911-4067-4dfa-bd7a-2ff8e03f357c",
      "name": "Restore n8n Workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1220,
        440
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "nvwKQBGmAp4WkwzX",
          "name": "n8n account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-11T17:56:59.000Z",
  "versionId": "5fb8b83c-d974-4caa-95ce-461ed01cd3a6"
}